.add-plus-button{
    margin-top: 27px;
    margin-left:-25px;
    margin-right: 25px;
}

.construction_lift_power{
    display: none;
}

.dicar-orange{
    color:#dc652c;
}

.modal-dialog{
    width: 90%;
}

.sold{
    background-color: rgba(255,0,0,0.3);
    position: absolute;

    width: 240px;
    height:180px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    z-index: 100;
    margin-top: 0px;
    font-size:36px;
    color:white;
}




.thumbnail{
    border-color: #dc652c;
}

.modal-title{
    color: #dc652c;
}

div.modal-body i.glyphicon {
    color: #dc652c;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left{
    background-image: none;
}

.google-maps {
    position: relative;
    padding-bottom: 100%; // This is the aspect ratio
height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.navbar{
    margin-bottom: 0px;
}

.required{
    color: red;
    font-size:70%;
}

.carousel-inner .item img {
    margin: 0 auto;
}

.modal-dialog {}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
    background-image:none;
    margin-top:10%;
    width:5%;
}
ul.nav.nav-tabs li.active a{
    background-color: #dc652c;
    color: black;
}
ul.nav.nav-tabs li a{
    color: #dc652c;
    border-top-color: #dc652c;
    border-right-color: #dc652c;;
    border-left-color: #dc652c;;
}